body {
  background-color:#EEEEEE;
  font-size: 100%;
font: bold medium Tahoma, arial, verdana,'trebuchet ms',helvetica, sans-serif;
  color:#000000;  
  padding:2px 5px;
  margin:0px;
  border:0px;
  text-align: left;
  cursor:default;
  zoom: 100%;
text-decoration:none;
}

form {
    padding: 0;
    margin: 0;
    display: inline;
}

#load{
position:absolute;
top:50%;
left:25%;
text-align:center;
line-height:150px;
font-family:"Trebuchet MS", verdana, arial,tahoma;
font-size:100%;
}
.set_width { width:480px; }


.textbox,.textarea {

width:300px;

border:solid 2px #00CCFF;

padding:3px;

margin:10px;

}

.error {

background: #FBBFDC;

color:#EF013D;

border:solid 1px;

padding:5px;

margin:5px;

}


.sameSize {
width:125px;
height:30px;
padding:0%;
margin:0%;
text-align: center;
font: bold medium Tahoma, arial, verdana,'trebuchet ms',helvetica, sans-serif;
display: inline;
text-decoration:none;
}

.sameSize:hover {
text-decoration: none;
}
.sameSize:active {
position: relative;
top: 1px;
}


.sameSize2 {
width:92px;
height:30px;
padding:0%;
margin:0%;
text-align: center;
font: bold medium Tahoma, arial, verdana,'trebuchet ms',helvetica, sans-serif;
display: inline;
text-decoration:none;
}


.sameLook {
width:100%;
height:120%;
padding:0%;
margin:0%;
text-align: left;
font-size: 100%;
font: bold small arial, verdana,'trebuchet ms',helvetica,sans-serif;
display: inline;
text-decoration:none;
}


